@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class=btn btn-secondary mr-2>Langue</button>
            <button class=btn btn-primary>Login</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
