@page "/vehicules"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@using Shared.ApiModels
@inject IJSRuntime JSRuntime

<PageTitle>Véhicule</PageTitle>
<div class="container">
    <div class="row">
        <div class="col">
            <!-- Texte "Véhicules en retard d'entretien" -->
            <div class="mt-3 d-flex justify-content-between align-items-center">
                <h2 class="mb-0">Véhicules</h2>
                <button class="btn btn-primary" @onclick="AjouterVehicule">+</button>

            </div>
            <!-- Tableau -->
            <div class="mt-3">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th>Immatriculation</th>
                        <th>Marque</th>
                        <th>Modèle</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var vehicle in _vehicle)
                    {
                        <tr>
                            <td><a href="/vehicle/detail/@vehicle.Id">@vehicle.Matriculation</a></td>
                            <td>@vehicle.ModelId.Brand</td>
                            <td>@vehicle.Model</td>
                        </tr>
                    }
                    </tbody>
                        <tr>
                            <td></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>


@code {

    public IList<VehicleModel>? _vehicle;

    protected override async Task OnInitializedAsync()
    {
        _vehicle = await HttpClient.GetFromJsonAsync<IList<VehicleModel>>("api/Recipe");

    }

}